
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div id="list_cont">
            <h2>'To Do' List Proof Of Concept</h2>
            <p><input id="list_offset" type="hidden" value="-" /></p>
            <div class="scroll_btn_cont">
                <button id="btn_prev" class="btn btn-default glyphicon glyphicon-triangle-top" onclick="getPrev(this)"></button>
            </div>
            <ul id="todo_list"></ul>
            <div class="scroll_btn_cont">
                <button id="btn_next" class="btn btn-default glyphicon glyphicon-triangle-bottom" onclick="getNext(this)"></button>
            </div>
        </div>
        <div id="add_task_cont">
            <h2>Add a 'ToDo'</h2>
            <p>Use the form below to enter an additional 'To Do' task.<br />New entries will be added to the bottom of the list.</p>
            <div id="add_task_form" class="d-flex justify-content-end">
                <input id="input_new_entry" type="text" placeholder="My New Todo" maxlength="20" />
                <button id="btn_submit" class="btn btn-default" onclick="addTask(this)">Add</button>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <p>Use button below to rebuild the original CSV file or memory list(whichever list is being used).</p>
        <button id="btn_refresh" class="btn btn-default glyphicon glyphicon-refresh" onclick="rebuildList(this)"></button>     
    </div>
    <div class="col-md-3"></div>
</div>

